<div fxFlex="100" fxLayout="column" *ngIf="meterData">

  <div>
    <img src="assets/logo.png" alt="" width="200px">
  </div>

  <div fxLayoutGap="40px" fxLayout="row" fxLayout.lt-md="column" class="vertical-divider">
    <mat-card fxFlex="50%">
      <h2 fxLayoutAlign="center">Lommerd</h2>

      <!-- lommerd production -->
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex="50%">
          <div fxLayoutAlign="start center">
            <img src="assets/producer-icon.png" class="producer-icon" fxFlex="40%">
            <mat-slide-toggle (change)="togglePanel($event)" [checked]="true"></mat-slide-toggle>
          </div>
          <div fxLayout="row">
            <div class="spinner-container" fxLayout="row">

              <div class="rotate-spinner" style="width: 100px;">
                <mat-progress-bar
                    [mode]="meterData.lommerd.solaredge.currentPower > 0 ? 'indeterminate' : 'determinate'"
                    class="progress-style">
                </mat-progress-bar>
              </div>

              <div fxLayout="row">
                <p>
                  <!--                  {{ meterData.lommerd.meter.currentProduction }} kW-->
                </p>
                <img src="assets/gpx-icon.png" alt="" width="40px" height="40px">
              </div>
            </div>
          </div>
        </div>

        <!-- lommerd consumption -->
        <div fxLayout="column" fxFlex="50%">
          <div fxLayoutAlign="end center">
            <img src="assets/user-icon.png" class="producer-icon" fxFlex="32%">
          </div>
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end">
            <div style="margin: 40px -20px 40px -20px;" fxLayout="row">
              <div fxLayout="row">
                <p>
                  <!--                  {{ meterData.lommerd.meter.currentConsumption }} kW-->
                </p>
                <img src="assets/gpx-icon.png" alt="" width="40px" height="40px">
              </div>
              <div class="rotate-spinner-backwards" style="width: 100px;">
                <mat-progress-bar [mode]="'indeterminate'" class="progress-style">
                </mat-progress-bar>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:-15px;">
        <div class="" fxFlex="84%">
          <mat-progress-bar [mode]="'indeterminate'" class="progress-style">
          </mat-progress-bar>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="50%">
      <h2 fxLayoutAlign="center">Dazo</h2>
      <div fxLayout="row" fxLayoutGap="10px">

        <!-- dazo Production -->
        <div fxLayout="column" fxFlex="50%">
        </div>

        <!-- dazo consumption -->
        <div fxLayout="column" fxFlex="50%">
          <div fxLayoutAlign="end center">
            <mat-slide-toggle (change)="toggleDazo($event)" [checked]="true"></mat-slide-toggle>
            <img src="assets/user-icon.png" class="producer-icon" fxFlex="32%">
          </div>
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end">
            <div class="spinner-container" fxLayout="row">

              <div fxLayout="row">
                <p>
                  <!--                  {{ meterData.dazo.meter.currentConsumption }} kW-->
                </p>
                <img src="assets/gpx-icon.png" alt="" width="40px" height="40px">
              </div>

              <div [ngClass]="meterData.dazo.meter.currentConsumption > 0 ?'rotate-spinner-backwards':'rotate-spinner'"
                   style="width: 100px; margin-right: -40px !important;">
                <mat-progress-bar
                    [mode]="meterData.dazo.meter.currentConsumption == 0 ? 'determinate': 'indeterminate'"
                    class="progress-style">
                </mat-progress-bar>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" style="margin-top:-15px;">
        <div class="" fxFlex="48%" style="margin-right: 30px;">
          <mat-progress-bar [mode]="meterData.dazo.meter.currentConsumption == 0 ? 'determinate': 'indeterminate'"
                            class="progress-style">
          </mat-progress-bar>
        </div>
      </div>

    </mat-card>

  </div>
  <div fxLayout="column" style="margin: 104px 0 100px 0">
    <div fxLayoutGap="40px" fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50%" fxLayoutAlign="center center" fxLayout="row">

        <div [ngClass]="currentLommerdDelta > 0 ?'rotate-spinner':'rotate-spinner-backwards'" style="width: 300px;">
          <mat-progress-bar [mode]="currentLommerdDelta == 0 ? 'determinate': 'indeterminate'" class="progress-style">
          </mat-progress-bar>
        </div>

        <!-- lommerd meter -->
        <div fxLayout="row">
          <div class="meter-container">
            <img src="assets/meter-icon.png" alt="" width="70px" height="70px">
          </div>
          <div fxLayout="row" style="margin-left: -60px;">
            <span>
              {{currentLommerdDelta > 0 ? '+' : '-'}}{{ currentLommerdDelta }} kW <br/>
              {{totalLommerdDelta > 0 ? '+' : '-'}}{{ totalLommerdDelta }} kWh total
            </span>
            <img src="assets/gpx-icon.png" alt="" width="40px" height="40px">
          </div>

        </div>

      </div>

      <div fxFlex="50%" fxLayoutAlign="center center" fxLayout="row">

        <div [ngClass]="currentDazoDelta > 0 ?'rotate-spinner':'rotate-spinner-backwards'" style="width: 300px;">
          <mat-progress-bar [mode]="currentDazoDelta == 0 ? 'determinate': 'indeterminate'" class="progress-style">
          </mat-progress-bar>
        </div>

        <!-- dazo meter -->
        <div fxLayout="row">
          <div class="meter-container">
            <img src="assets/meter-icon.png" alt="" width="70px" height="70px">
          </div>
          <div fxLayout="row" style="margin-left: -60px;">
            <span>
              {{ currentDazoDelta }} kW <br/>
              {{ totalDazoDelta }} kWh total
            </span>
            <img src="assets/gpx-icon.png" alt="" width="40px" height="40px">
          </div>
        </div>

      </div>
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-bar [mode]="'buffer'" class="progress" style="transform: rotate(180deg)">
    </mat-progress-bar>

    <h3 style="margin-left: 20px">Netstroom</h3>

  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <!-- <div fxFlex></div> -->
    <mat-card fxFlex="20%">
      <div fxLayout="row" fxLayoutAlign="center center">
        <span>
          {{currentNetwerkDelta > 0 ? '+' : '-'}}{{ currentNetwerkDelta }} kW <br/>
          {{totalNetwerkDelta > 0 ? '+' : '-'}}{{ totalNetwerkDelta }} kWh total
        </span>
        <img src="assets/gpx-icon.png" alt="" width="40px" height="40px" style="margin: -20px 0 -20px 20px">
      </div>
    </mat-card>
    <div fxFlex="10%"></div>

  </div>

</div>
